/* Arquivo: css/style.css */

/* Deixa o footer sempre no final da página, se o conteúdo for curto */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Efeito de hover nos cards da página inicial */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    border-color: #0d6efd !important; /* Cor primária do Bootstrap */
}